<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kartu Ucapan Hari Raya</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <p>
    Saya <%= nama %> mengucapkan
  </p>
  <h1>Selamat Hari Raya Idul Fitri 1443H</h1>
  <h3>Minal Aidzin Wal Faidzin</h3>
  <h3>Mohon Maaf Lahir Dan Batin</h3>
</body>
</html>